body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: beige;
}
h1{
    padding: 25px 10px 25px 10px ;
    border-style: solid;
    background-color: rgb(240, 240, 186);
    color: black;
    border-radius: 25px;
}
h2{
    color: white;
}
img{
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    border-color: black;
}
p{
    font-size: 17px;
}
br{
    color: wheat;
}